name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          image-directory-path: "images"
